Poyecto_Java_Web2/src/conf/xml-resources/web-service-references/datos/wsdl/localhost_8084/ServicioWebDB2/datos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://proyecto.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://proyecto.ws/" name="datos">
<types>
<xsd:schema>
<xsd:import namespace="http://proyecto.ws/" schemaLocation="http://localhost:8084/ServicioWebDB2/datos?xsd=1" />
</xsd:schema>
</types>
<message name="BorrarRecorrido">
<part name="parameters" element="tns:BorrarRecorrido" />
</message>
<message name="BorrarRecorridoResponse">
<part name="parameters" element="tns:BorrarRecorridoResponse" />
</message>
<message name="AltaRecorrido">
<part name="parameters" element="tns:AltaRecorrido" />
</message>
<message name="AltaRecorridoResponse">
<part name="parameters" element="tns:AltaRecorridoResponse" />
</message>
<message name="Register">
<part name="parameters" element="tns:Register" />
</message>
<message name="RegisterResponse">
<part name="parameters" element="tns:RegisterResponse" />
</message>
<portType name="datos">
<operation name="BorrarRecorrido">
<input wsam:Action="http://proyecto.ws/datos/BorrarRecorridoRequest" message="tns:BorrarRecorrido" />
<output wsam:Action="http://proyecto.ws/datos/BorrarRecorridoResponse" message="tns:BorrarRecorridoResponse" />
</operation>
<operation name="AltaRecorrido">
<input wsam:Action="http://proyecto.ws/datos/AltaRecorridoRequest" message="tns:AltaRecorrido" />
<output wsam:Action="http://proyecto.ws/datos/AltaRecorridoResponse" message="tns:AltaRecorridoResponse" />
</operation>
<operation name="Register">
<input wsam:Action="http://proyecto.ws/datos/RegisterRequest" message="tns:Register" />
<output wsam:Action="http://proyecto.ws/datos/RegisterResponse" message="tns:RegisterResponse" />
</operation>
</portType>
<binding name="datosPortBinding" type="tns:datos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="BorrarRecorrido">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="AltaRecorrido">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Register">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="datos">
<port name="datosPort" binding="tns:datosPortBinding">
<soap:address location="http://localhost:8084/ServicioWebDB2/datos" />
</port>
</service>
</definitions>